.app {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    height: 100vh;
    background-image: url('./img/background-image.jpeg');
    background-position: center;
    background-size: cover;
}

.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.reminder-form {
    padding-bottom: 20px;

    input {
        margin: 5px;
    }
}

.reminder-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.list-group-item{
  cursor: pointer;
}

.list-item {
  display: inline-block;
}

.delete-button, .check {
  float: right;
  padding-left: 5px;
}

.delete-button{
  color: red;
  transition: .1s;
    &:hover{
      transform: scale(1.5);
    }

}
